/* Rows */

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

/* Buttons */

.keyboard-button{
  color: white;
  background-color: rgb(156, 156, 156);
  border-radius: 5px;
  font-size: 15px;
  margin: 2px;
  font-family: Roboto, Arial;
  flex: 1;
  height: 3.5em;
  max-width: 50px;
}

.keyboard-button:hover{
  background-color: rgb(154, 154, 154);
  cursor: pointer;
}

.backspace-icon{
  width: 2em;
}

.row1{
  font-family: Font Icons;
  padding: 5px 15px 5px 15px;
  font-size: 35px;
}

/* Mobile */

@media (max-width:540px) {
  .keyboard-button{
    width: 5px;
    font-size: 12px;
    margin: 1px;
    height: 3em
  }
  .row{
    margin: 0px;
  }
}