/* Rows */

.row{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Buttons */

.keyboard-button{
  color: white;
  background-color: rgb(156, 156, 156);
  border-radius: 5px;
  padding: 17px 24px 17px 24px;
  font-size: 15px;
  margin: 2px;
  font-family: Roboto, Arial;
  max-width: 13.100;
}

.keyboard-button:hover{
  background-color: rgb(154, 154, 154);
  cursor: pointer;
}

.backspace-icon{
  width: 25px;
}

.backspace-button{
  padding: 10px 24px 10px 24px;
}

.row1{
  font-family: Font Icons;
  padding: 5px 15px 5px 15px;
  font-size: 35px;
}

/* Mobile */

@media (max-width: 610px) {
    main{
     visibility: hidden;
    }
}
