:root{
  --menu-background-color: rgb(55, 54, 54)
}

/* Menu icons */

.menu-icons{
  display: flex;
}

.menu-show,
.theme-switcher,
.info-box{
  font-family: Font Icons, Roboto, Arial;
  color: rgb(154, 154, 154);
  cursor: pointer;
  width: 25px;
  font-size: 30px;
  margin-right: 5px;
}

.info-box{
  margin-left: auto;
  margin-right: 15px;
}

.theme-switcher-text{
  color: rgb(154, 154, 154);
  text-decoration: none;
}

/* Tile demo text */

.info-menu{
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;/* Change to hidden one done editing appearance. */
  background-color: var(--menu-background-color, gray);
  padding: 5px 35px 10px 35px;
  border-radius: 15px;
  text-align: center;
  width: 50%;
  visibility: hidden;

}

.green-tile-demo{
  color: var(--correct-color, green);
}

.yellow-tile-demo{
  color: var(--semicorrect-color, yellow);
}

.gray-tile-demo{
  color: var(--incorrect-color, gray);
}

/* Demo tiles */

.tile-demo{
  border: 5px solid black;
  background-color: rgb(33, 29, 29);
  border-radius: 2px;
  display: inline-block;
  position: relative;
}

.tile-demo::before {
  content: '';
  display: block;
  padding-bottom: 55px;
  padding-left: 55px;
}

.demo-letter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;

}

.green-demo-tile{
  background-color: var(--correct-color, green);
}

.yellow-demo-tile{
  background-color: var(--semicorrect-color, yellow);
}

.gray-demo-tile{
  background-color: var(--incorrect-color, gray);
}

/* Main Menu popup */

.main-menu{
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;/* Change to hidden one done editing appearance. */
  background-color: var(--menu-background-color, gray);
  padding: 5px 35px 10px 35px;
  border-radius: 15px;
  text-align: center;
  width: 50%;
  visibility: hidden;
}

.close-menu-div{
  position: relative;
}

.facts-header,
.close-menu-button{
  margin: 15px;
  display: inline-block;
}

.close-menu-button{
  /* Text */
  color: rgb(255, 255, 255);
  font-size: 18px;
  /* Pos */
  position: absolute;
  top: 10px;
  right: 10px;
  /* Button */
  background-color: transparent;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.close-menu-button:hover{
  color: black;
  background-color: rgb(157, 157, 157);
  opacity: 0.6;
  transition: 1s;
}

.minecraft-wiki-page{
  background-color: blue;
  padding: 15px 30px 15px 30px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* Current Streak */

.streak-holder{
  margin-top: 10px;
}

#currentStreakNumber{
  font-weight: 500;
}

/* Share */

.share{
  list-style-type: none;
  grid-template-columns: minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr);
  display: grid;
  min-width: 0;
}

.twitter-share,
.email-share,
.link-share{
  background: none;
  border: none;
  display: block;
  cursor: pointer;
  color: white;
  width: 160px;
  height: 40px;
  position: sticky;
}

.email-link,
.twitter-link{
  color: black;
  text-decoration: none;
}

.share-image{
  width: 40px;
  
  vertical-align: middle;
  padding-right: 5px; 
}

.github-holder{
  margin-top: 10px;
}

.github-button{
  background-color: black;
  color: white;
  border: 2px white solid;
  border-radius: 5px;
  padding: 15px 30px 15px 30px;
  cursor: pointer;
}

